<?xml version="1.0" ?>
<model>
  <name>CHEERIOS</name>
  <version>1.0</version>
  <sdf version="1.6">CHEERIOS.model</sdf>
  
  <!-- Author information -->
  <author>
    <name>Your Name or Organization</name>
    <email>your.email@example.com</email>
  </author>
  
  <!-- Description -->
  <description>
    A simple model of CHEERIOS cereal box.
  </description>

  <!-- License -->
  <license>TODO: License type</license>

  <!-- Metadata tags -->
  <tag>TODO: Tags</tag>
  
  <!-- Provide information about where this model came from -->
  <origin>
    <uri>https://example.com/CHEERIOS</uri>
    <date>2024-07-17</date>
    <contributor>Blender User</contributor>
    <manufacturer>Manufacturer Name</manufacturer>
  </origin>

  <!-- Asset information -->
  <asset>
    <uri>model://CHEERIOS</uri>
    <submeshes>
      <submesh>
        <name>main</name>
        <center>0 0 0</center>
        <scale>1 1 1</scale>
      </submesh>
    </submeshes>
  </asset>
</model>

